@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	*/
	font-family: "Inter", sans-serif;
}

.wrapper {
	background-image: linear-gradient(
		to right top,
		#05162b,
		#17415f,
		rgb(37 114 149 / 50%),
		rgb(51 168 203 / 50%),
		rgb(72 225 252 / 50%)
	);
	background-size: cover;
	padding: 20px 30px;
	display: flex;
	align-items: center;
	border-radius: 2%;
	max-width: 30rem;
	width: 91.666667%;
	height: max-content;
	justify-content: center;
	margin-bottom: 7rem;
}

@media (min-width: 640px) {
	.wrapper {
		width: 60%;
	}
}
